In [9]:
import os
import re
import csv

enron_dir = "enron1"

with open('enron_emails.csv', 'w', newline='') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('enron_emails.csv')

In [13]:
df.head()

,File,Subject,Body
0,enron1\ham\0001.1999-12-10.farmer.ham.txt,christmas tree farm pictures,NaN
1,enron1\ham\0002.1999-12-13.farmer.ham.txt,"vastar resources , inc .","gary , production from the high island larger ..."
2,enron1\ham\0003.1999-12-14.farmer.ham.txt,calpine daily gas nomination,- calpine daily gas nomination 1 . doc
3,enron1\ham\0004.1999-12-14.farmer.ham.txt,re : issue,fyi - see note below - already done .\nstella\...
4,enron1\ham\0005.1999-12-14.farmer.ham.txt,meter 7268 nov allocation,fyi .\n- - - - - - - - - - - - - - - - - - - -...

In [17]:
enron_dir = "enron2"

with open('enron2_emails.csv', 'w', newline='') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [18]:
df = pd.read_csv('enron2_emails.csv')

In [19]:
df.head()

,File,Subject,Body
0,enron2\ham\0001.1999-12-10.kaminski.ham.txt,re : rankings,thank you .
1,enron2\ham\0003.1999-12-10.kaminski.ham.txt,re : visit to enron,"vince ,\ndec . 29 at 9 : 00 will be fine . i h..."
2,enron2\ham\0004.1999-12-10.kaminski.ham.txt,research group move to the 19 th floor,hello all :\nin case any of you feel energetic...
3,enron2\ham\0005.1999-12-12.kaminski.ham.txt,christmas baskets,the christmas baskets have been ordered .\nwe ...
4,enron2\ham\0006.1999-12-13.kaminski.ham.txt,japan candidate,"vince ,\ni spoke with whalley at the sa offsit..."

In [24]:
enron_dir = "enron3"

with open('enron3_emails.csv', 'w', newline='') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [25]:
df = pd.read_csv('enron3_emails.csv')

In [26]:
df.head()

,File,Subject,Body
0,enron3\ham\0001.2001-02-07.kitchen.ham.txt,key hr issues going forward,a ) year end reviews - report needs generating...
1,enron3\ham\0002.2001-02-07.kitchen.ham.txt,congrats !,contratulations on the execution of the centra...
2,enron3\ham\0003.2001-02-08.kitchen.ham.txt,re : key hr issues going forward,"all is under control :\na - we ' ve set up a ""..."
3,enron3\ham\0005.2001-02-08.kitchen.ham.txt,epmi files protest of entergy transco,attached is our filing made yesterday protesti...
4,enron3\ham\0006.2001-02-08.kitchen.ham.txt,california power 2 / 8,please contact kristin walsh ( x 39510 ) or ro...

In [27]:
enron_dir = "enron4"

with open('enron4_emails.csv', 'w', newline='') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [28]:
df = pd.read_csv('enron4_emails.csv')

In [29]:
df.head()

,File,Subject,Body
0,enron4\ham\0001.2001-04-02.williams.ham.txt,re : quasi,"good morning ,\ni ' d love to go get some coff..."
1,enron4\ham\0004.2001-04-02.williams.ham.txt,enrononline desk to desk id and password,"bill ,\nthe epmi - st - wbom book has been set..."
2,enron4\ham\0006.2001-04-03.williams.ham.txt,david gray,"bill ,\nis this the david gray you are going t..."
3,enron4\ham\0013.2001-04-03.williams.ham.txt,re : monday blues,good morning . i ' m glad to hear that you are...
4,enron4\ham\0017.2001-04-03.williams.ham.txt,monday blues,"bill ,\ni am having such a terrible day . i am..."

In [30]:
enron_dir = "enron5"

with open('enron5_emails.csv', 'w', newline='') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [31]:
df = pd.read_csv('enron5_emails.csv')

In [32]:
df.head()

,File,Subject,Body
0,enron5\ham\0001.2000-01-17.beck.ham.txt,leadership development pilot,"sally :\nwhat timing , ask and you shall recei..."
1,enron5\ham\0003.2000-01-17.beck.ham.txt,re : additional responsibility,congratulations on this additional responsibil...
2,enron5\ham\0007.2000-01-17.beck.ham.txt,global risk management operations,congratulations !\ndc\n- - - - - - - - - - - -...
3,enron5\ham\0012.2000-01-17.beck.ham.txt,global risk management operations,"sally , congratulations .\n- - - - - - - - - -..."
4,enron5\ham\0017.2000-01-17.beck.ham.txt,global risk management operations,"congratulations , sally ! ! !\nkk\n- - - - - -..."

In [35]:
enron_dir = "enron6"

with open('enron6_emails.csv', 'w', newline='',encoding='utf-8') as csvfile:
    fieldnames = ['File', 'Subject', 'Body']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for root, dirs, files in os.walk(enron_dir):
        for file in files:
            filepath = os.path.join(root, file)
            with open(filepath, 'r', encoding='utf-8', errors='ignore') as f:
                content = f.read()
                subject_match = re.search(r"^Subject: (.+)", content, re.M)
                subject = subject_match.group(1) if subject_match else ""
                body_match = re.search(r"\n(.+)", content, re.S)
                body = body_match.group(1) if body_match else ""
                writer.writerow({'File': filepath, 'Subject': subject, 'Body': body})

In [36]:
df = pd.read_csv('enron6_emails.csv')

In [37]:
df.head()

,File,Subject,Body
0,enron6\ham\0001.2000-06-06.lokay.ham.txt,key dates and impact of upcoming sap implement...,"over the next few weeks , project apollo and b..."
1,enron6\ham\0005.2000-06-06.lokay.ham.txt,transportation to resort,"please be informed , a mini - bus has been res..."
2,enron6\ham\0009.2000-06-07.lokay.ham.txt,human resources organization,as enron continues to address the human capita...
3,enron6\ham\0012.2000-06-08.lokay.ham.txt,what do you want to know today ?,""" a man with a new idea is a crank until he su..."
4,enron6\ham\0015.2000-06-09.lokay.ham.txt,"tw weekly , 6 - 9 - 00",please see the attached file and let me know i...

In [1]:
import pandas as pd
import glob

file_list = glob.glob("*.csv")

df_list = []

for file in file_list:
    df = pd.read_csv(file)
    df_list.append(df)

merged_df = pd.concat(df_list, axis=0)


merged_df.to_csv("enron_emails.csv", index=False)

In [2]:
df = pd.read_csv('enron_emails.csv')

In [3]:
df.head()

,File,Subject,Body
0,enron2\ham\0001.1999-12-10.kaminski.ham.txt,re : rankings,thank you .
1,enron2\ham\0003.1999-12-10.kaminski.ham.txt,re : visit to enron,"vince ,\ndec . 29 at 9 : 00 will be fine . i h..."
2,enron2\ham\0004.1999-12-10.kaminski.ham.txt,research group move to the 19 th floor,hello all :\nin case any of you feel energetic...
3,enron2\ham\0005.1999-12-12.kaminski.ham.txt,christmas baskets,the christmas baskets have been ordered .\nwe ...
4,enron2\ham\0006.1999-12-13.kaminski.ham.txt,japan candidate,"vince ,\ni spoke with whalley at the sa offsit..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33715 entries, 0 to 33714
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   File     33715 non-null  object
 1   Subject  33425 non-null  object
 2   Body     33344 non-null  object
dtypes: object(3)
memory usage: 790.3+ KB

In [20]:
import csv
csv.field_size_limit(10000000) # Set maximum field size to 10 MB

131072

In [21]:
import csv

with open('enron_emails.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    with open('enron_emails_with_spam.csv', 'w', newline='', encoding='utf-8') as separated_file:
        fieldnames = ['Subject', 'Body', 'Spam']
        csv_writer = csv.DictWriter(separated_file, fieldnames=fieldnames)
        csv_writer.writeheader()
        
        for row in csv_reader:
            is_spam = 1 if 'spam' in row['File'] else 0
            csv_writer.writerow({'Subject': row['Subject'], 'Body': row['Body'], 'Spam': is_spam})

In [3]:
df = pd.read_csv('enron_emails_with_spam.csv')

In [23]:
df.head()

,Subject,Body,Spam
0,re : rankings,thank you .,0
1,re : visit to enron,"vince ,\ndec . 29 at 9 : 00 will be fine . i h...",0
2,research group move to the 19 th floor,hello all :\nin case any of you feel energetic...,0
3,christmas baskets,the christmas baskets have been ordered .\nwe ...,0
4,japan candidate,"vince ,\ni spoke with whalley at the sa offsit...",0

In [25]:
count = (df['Spam'] == 0).sum()

print(f"Number of rows where spam is 0: {count}")

Number of rows where spam is 0: 16545

In [26]:
count = (df['Spam'] == 1).sum()

print(f"Number of rows where spam is 1: {count}")

Number of rows where spam is 1: 17170

In [5]:
df['Subject'] = df['Subject'].fillna('')
df['Body'] = df['Body'].fillna('')

In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk

In [11]:
df.head()

,Subject,Body,Spam
0,ranking,thank,0
1,visit enron,vince dec fine talked shirley havedirections t...,0
2,research group move th floor,hello case feel energetic box locatedat b mich...,0
3,christmas basket,christmas basket ordered ordered several baske...,0
4,japan candidate,vince spoke whalley sa offsite mentioned knew ...,0

In [25]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Subject'].values)
y = df['Spam'].values

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [33]:
model = SVC(kernel='linear', probability=True)
model.fit(X_train, y_train)

SVC(kernel='linear', probability=True)

In [34]:
y_pred = model.predict(X_test)

In [35]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 93.44%

In [26]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Body'].values)
y = df['Spam'].values

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [28]:
model = SVC(kernel='linear', probability=True)
model.fit(X_train, y_train)

SVC(kernel='linear', probability=True)

In [29]:
y_pred = model.predict(X_test)

In [30]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 98.62%

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [33]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['Subject'].values)
y = df['Spam'].values

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [37]:
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [38]:
y_pred = model.predict(X_test)

In [39]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 91.07%

In [40]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['Body'].values)
y = df['Spam'].values

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [42]:
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [43]:
y_pred = model.predict(X_test)

In [44]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 98.30%